<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <!-- <div id="app">
        <ul>
            <li v-for="restaurant in restaurants">{{restaurant.name}} à {{restaurant.city}} <br></li>
        </ul>
        <button v-on:click="update()">Mettre à jour</button>
    </div> -->
    <!-- <div id="emp">
        <span v-for="employe, index in employes">
            <br><p>{{employe[0].name}}</p> {{employe[0].city}} {{employe[0].nbcouverts}} couverts {{employe[0].terrasse}} {{employe[0].parking}}<br>
            <span v-for="value, index in employe">
                {{value.first_name}} {{value.last_name}} {{value.hire_date}}  <br>
            </span>
        </span>
    </div> -->
    <table  id="emp">
        <thead >
            <tr>
                <th >Nom du restaurant</th>
                <th colspan="3">Employes</th>
            </tr>
        </thead>
        <tbody v-for="employe, index in employes">
            <tr>
                <td> {{employe[0].name}} <button  v-on:click="suprim(employe[0].restaurant_id)"  >Supprimer le restaurant</button></td>
                <td v-for="value, index in employe">{{value.first_name}} {{value.last_name}} &nbsp;&nbsp;  <button  v-on:click="suprimEmploye(value.id_employes) "  >Supprimer l'employé</button></td>
                
            </tr>
        </tbody>
    </table>
        
    <script>
        // let app = new Vue({
        //     el: "#app",
        //     data: {
        //         restaurants: ["Resto 1", "Resto 2", "Resto 3"],
        //     },
        //     mounted: function() {
        //         axios.get("http://127.0.0.1:5000/restaurants")
        //                 .then(res => this.restaurants = res.data)
        //                 .catch(error => this.restaurants = [{"name":"Erreur de chargement"}])
        //     },
        //     methods: {
        //         update() {
                    let emp = new Vue({
                    el: "#emp",
                    data: {
                        employes: [],
                },
                mounted: function() {
                    for (let index = 1; index <= 3; index++) {
                        axios.get("http://127.0.0.1:5000/restaurants/"+ index + "/employes")
                            .then(res => this.employes.push( res.data))
                            .catch(error => this.employes = [{"name":"Erreur de chargement"}])                       
                    }
                },
                methods: {
                    suprim(index) {
                        axios.delete("http://127.0.0.1:5000/restaurants/" + index )
                    },
                    suprimEmploye(index) {
                        // console.log(index);
                        axios.delete("http://127.0.0.1:5000/employe/" + index)
                    }
                },
            });
                    
        //         }
        //     },
        // });

    </script>
</body>
</html>